<a href="https://colab.research.google.com/github/Coder-twhjr/Mind-Reader-Game/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Comprehension

####The `for` Loop Revision

In [1]:
natural_numbers = []

for i in range(1, 11):
  natural_numbers.append(i)

natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

####The List Comprehension Method

In [2]:
natural_numbers = [i for i in range(1, 11)]
natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
square_nat_nums = [i ** 2 for i in range(1, 11)]
square_nat_nums

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Using conditional statement in list comprehension:**

In [4]:
even_nums_list = []

for i in range(1, 21):
  if i % 2 == 0:
    even_nums_list.append(i)

even_nums_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
even_nums_list = [i for i in range(1, 21) if i % 2 == 0]
even_nums_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

####Nested Lists Using List Comprehension

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
diameters = [4879, 12104, 12756, 6972, 142984, 120536, 51118, 49528, 2370]

n = len(planets) 
planet_diameters = [[planets[i], diameters[i]] for i in range(n)]
planet_diameters

[['Mercury', 4879],
 ['Venus', 12104],
 ['Earth', 12756],
 ['Mars', 6972],
 ['Jupiter', 142984],
 ['Saturn', 120536],
 ['Uranus', 51118],
 ['Neptune', 49528],
 ['Pluto', 2370]]

In [8]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
diameters = [4879, 12104, 12756, 6972, 142984, 120536, 51118, 49528, 2370]
densities = [5427, 5243, 5514, 3933, 1326, 687, 1271, 1638, 2095]
gravities = [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0, 0.7]

n = len(planets)

planet_data = [[planets[i], diameters[i], densities[i], gravities[i]] for i in range(n)]
planet_data

[['Mercury', 4879, 5427, 3.7],
 ['Venus', 12104, 5243, 8.9],
 ['Earth', 12756, 5514, 9.8],
 ['Mars', 6972, 3933, 3.7],
 ['Jupiter', 142984, 1326, 23.1],
 ['Saturn', 120536, 687, 9.0],
 ['Uranus', 51118, 1271, 8.7],
 ['Neptune', 49528, 1638, 11.0],
 ['Pluto', 2370, 2095, 0.7]]

In [9]:
zeros = [[0 for i in range(3)] for i in range(4)]
zeros

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [10]:
ones = [[[1 for i in range(2)] for j in range(4)] for k in range(3)]
ones

[[[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]]]

In [11]:
two_dim = [[(10 * i + j) for j in range(1, 3)] for i in range(1, 3)]
two_dim

[[11, 12], [21, 22]]

---

### Creating Three Dimensional List

In [12]:
three_dim = [[[(100 * i + 10 * j + k) for k in range(1, 4)] for j in range(1, 4)] for i in range(1, 4)]
three_dim

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

---

In [13]:
three_dim_list = [[[], [], []], [[], [], []], [[], [], []]]

for i in range(1, 4):
  for j in range(1, 4):
    for k in range(1, 4):
      item = 100 * i + 10 * j + k
      three_dim_list[i - 1][j - 1].append(item)

three_dim_list

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

---