<a href="https://colab.research.google.com/github/Coder-twhjr/Mind-Reader-Game/blob/main/Nested_Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nested Python Lists

####Data Representation In Two-Dimensions Using Python Lists

In [1]:
planet_diameters = [['Mercury', 4879], 
                    ['Venus', 12104], 
                    ['Earth', 12756], 
                    ['Mars', 6792], 
                    ['Jupiter', 142984], 
                    ['Saturn', 120536], 
                    ['Uranus', 51118], 
                    ['Neptune', 49528], 
                    ['Pluto', 2370]]
planet_diameters

[['Mercury', 4879],
 ['Venus', 12104],
 ['Earth', 12756],
 ['Mars', 6792],
 ['Jupiter', 142984],
 ['Saturn', 120536],
 ['Uranus', 51118],
 ['Neptune', 49528],
 ['Pluto', 2370]]

In [2]:
planet_data = [['Mercury', 4879, 5427, 3.7], 
                ['Venus', 12104, 5243, 8.9], 
                ['Earth', 12756, 5514, 9.8],  
                ['Mars', 6792, 3933, 3.7], 
                ['Jupiter', 142984, 1326, 23.1], 
                ['Saturn', 120536, 687, 9.0], 
                ['Uranus', 51118, 1271, 8.7], 
                ['Neptune', 49528, 1638, 11.0], 
                ['Pluto', 2370, 2095, 0.7]]

planet_data

[['Mercury', 4879, 5427, 3.7],
 ['Venus', 12104, 5243, 8.9],
 ['Earth', 12756, 5514, 9.8],
 ['Mars', 6792, 3933, 3.7],
 ['Jupiter', 142984, 1326, 23.1],
 ['Saturn', 120536, 687, 9.0],
 ['Uranus', 51118, 1271, 8.7],
 ['Neptune', 49528, 1638, 11.0],
 ['Pluto', 2370, 2095, 0.7]]

---

####Indexing A Nested List

In [3]:
planet_data[4][1]

142984

In [4]:
planet_data[5][2]

687

In [5]:
planet_data[3]

['Mars', 6792, 3933, 3.7]

---

####Length Of Nested Python Lists

In [6]:
len(planet_data)

9

In [7]:
num_items = 0

for sublist in planet_data:
  length_of_sublist = len(sublist)
  num_items = num_items + length_of_sublist

num_items

36

---

####Data Representation In Three-Dimensions Using Python Lists

In [8]:
three_dim_list = [
                  [[111, 112, 113], 
                   [121, 122, 123],
                   [131, 132, 133]],
                   
                  [[211, 212, 213], 
                   [221, 222, 223],
                   [231, 232, 233]],
                   
                  [[311, 312, 313], 
                   [321, 322, 323],
                   [331, 332, 333]]
                  ]

three_dim_list

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

In [9]:
len(three_dim_list)

3

In [10]:
three_dim_list[0][1][0]

121

In [11]:
three_dim_list[1][2][1]

232

In [13]:
for i in range(3): 
  for j in range(3): 
    for k in range(3):
      print(three_dim_list[i][j][k], end=' ')
    print()
  print()

111 112 113
121 122 123
131 132 133

211 212 213
221 222 223
231 232 233

311 312 313
321 322 323
331 332 333

In [14]:
for block in three_dim_list:
  for row in block:
    for item in row:
      print(item, end=' ')
    print()
  print()

111 112 113
121 122 123
131 132 133

211 212 213
221 222 223
231 232 233

311 312 313
321 322 323
331 332 333

In [15]:
num_items = 0

for block in three_dim_list:
  for row in block:
    num_items = num_items + len(row)

num_items

27

---

####Sorting List Items

In [16]:
def selection_sort(array, n): 
  for i in range(n - 1):
    index_min_val = i 
    for j in range(index_min_val + 1, n): 
      if array[j] < array[index_min_val]:
        index_min_val = j 
    temp = array[i] 
    array[i] = array[index_min_val] 
    array[index_min_val] = temp
    
  return array 

print(selection_sort([4, 6, 123, 2, 8, 11], 6))

[2, 4, 6, 8, 11, 123]

---