<a href="https://colab.research.google.com/github/Coder-twhjr/Mind-Reader-Game/blob/main/Project_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Goal of the Project

1. Python Lists

2. List Comprehension

3. NumPy Arrays

In [1]:
import numpy as np
null_arr = np.zeros(10)
print("Null Array:",null_arr)
print("Updating sixth value to 11")
null_arr[5] = 11
print(null_arr)

Null Array: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Updating sixth value to 11
[ 0.  0.  0.  0.  0. 11.  0.  0.  0.  0.]

---

In [2]:
number_list = [num for num in range(50) if num % 5 == 0]
print(number_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

---

In [3]:
import numpy as np
lst = [12.23, 13.32, 100, 36.32]
print("Original List:",lst)
print("The data type of original list:",type(lst))
arr = np.array(lst)
print("One-dimensional NumPy array: ",arr)
print("The data type of an numpy array:",type(arr))

Original List: [12.23, 13.32, 100, 36.32]
The data type of original list: <class 'list'>
One-dimensional NumPy array:  [ 12.23  13.32 100.    36.32]
The data type of an numpy array: <class 'numpy.ndarray'>

---