<a href="https://colab.research.google.com/github/Coder-twhjr/Mind-Reader-Game/blob/main/Python_Lists_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Lists II

####Multiple Data Types

In [1]:
planet = ["Mercury", 4879, 3.7, False]
planet

['Mercury', 4879, 3.7, False]

---

####List Length

In [2]:
len(planet)

4

---

####List Indexing And The `for` Loop

In [3]:
print("1st item:", planet[0])
print("2nd item:", planet[1])
print("3rd item:", planet[2])
print("4th item:", planet[3])

1st item: Mercury
2nd item: 4879
3rd item: 3.7
4th item: False

---



### For Loops

In [4]:
num_items = len(planet)
for i in range(num_items):
  print(planet[i])

Mercury
4879
3.7
False

In [5]:
for i in planet:
  print(i)

Mercury
4879
3.7
False

**Negative Indexing:**

In [6]:
print("4th item:", planet[-1])
print("3rd item:", planet[-2])
print("2nd item:", planet[-3])
print("1st item:", planet[-4])

4th item: False
3rd item: 3.7
2nd item: 4879
1st item: Mercury

In [7]:
n = len(planet)
for i in range(1, n + 1):
  print(planet[-i])

False
3.7
4879
Mercury

---

####List Slicing

In [8]:
my_cars = ['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Bentley', 'Lexus', 'Tesla']
my_cars[0:5]

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford']

In [9]:
my_cars[:5]

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford']

In [10]:
my_cars[1:8]

['Lamborghini',
 'Bugatti',
 'Porsche',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Bentley']

In [11]:
n = len(my_cars)
my_cars[0:n:2]

['Chrysler', 'Bugatti', 'Ford', 'Suzuki', 'Lexus']

In [12]:
my_cars[::-1]

['Tesla',
 'Lexus',
 'Bentley',
 'Suzuki',
 'Rolls Royce',
 'Ford',
 'Porsche',
 'Bugatti',
 'Lamborghini',
 'Chrysler']

---

####Index Of An Item

In [13]:
my_cars.index('Ford')

4

---

####Removing An Item

In [14]:
my_cars.remove('Bentley')
my_cars

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Porsche',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Lexus',
 'Tesla']

---

####The `pop()` Function

In [15]:
print("List of cars before using the pop() function.")
print(my_cars)

my_cars.pop()

print("List of cars after using the pop() function.")
print(my_cars)

List of cars before using the pop() function.
['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Lexus', 'Tesla']
List of cars after using the pop() function.
['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Lexus']

In [16]:
my_cars.pop(3)
my_cars

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Lexus']

---

####Item Replacement

In [17]:
index_of_suzuki = my_cars.index('Suzuki')

my_cars[index_of_suzuki] = 'McLaren'
my_cars

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Ford',
 'Rolls Royce',
 'McLaren',
 'Lexus']

In [18]:
index_of_lexus = my_cars.index('Lexus')
my_cars[index_of_lexus] = 'Aston Martin'
my_cars

['Chrysler',
 'Lamborghini',
 'Bugatti',
 'Ford',
 'Rolls Royce',
 'McLaren',
 'Aston Martin']

---

####List Triangle I

In [19]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(len(nums)):
  print(nums[:i+1])

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---

####List Triangle II

In [20]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(len(nums)):
  print(nums[i:len(nums)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[6, 7, 8, 9]
[7, 8, 9]
[8, 9]
[9]

---

####Exponents

In [21]:
num = 1  
nums = []
while num < 10:
  nums.append(num)
  num = num + 1
for i in range(len(nums)):
  temp_list = []
  for j in range(len(nums)):
    temp_list.append(nums[j] ** (i + 1))
  print("Numbers raised to power", i + 1, "==>", temp_list)

Numbers raised to power 1 ==> [1, 2, 3, 4, 5, 6, 7, 8, 9]
Numbers raised to power 2 ==> [1, 4, 9, 16, 25, 36, 49, 64, 81]
Numbers raised to power 3 ==> [1, 8, 27, 64, 125, 216, 343, 512, 729]
Numbers raised to power 4 ==> [1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]
Numbers raised to power 5 ==> [1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]
Numbers raised to power 6 ==> [1, 64, 729, 4096, 15625, 46656, 117649, 262144, 531441]
Numbers raised to power 7 ==> [1, 128, 2187, 16384, 78125, 279936, 823543, 2097152, 4782969]
Numbers raised to power 8 ==> [1, 256, 6561, 65536, 390625, 1679616, 5764801, 16777216, 43046721]
Numbers raised to power 9 ==> [1, 512, 19683, 262144, 1953125, 10077696, 40353607, 134217728, 387420489]

---